.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    min-width: 350px;
    max-width: 450px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.headerSpace {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.alertSpace {
    width: 100%;
    margin-bottom: 24px;
}

.successBox {
    margin-top: 10px;
    background: #f6ffed;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b7eb8f;
}

.inputIcon {
    color: #bfbfbf;
}
